.frame16-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame16-frame16 {
  width: 450px;
  height: 775px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame16-page-header {
  top: 44px;
  left: 16px;
  width: 343px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame16-text {
  left: 104px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame16-input-search {
  top: 92px;
  left: 17px;
  width: 343px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame16-bg {
  top: 0px;
  left: 0px;
  width: 343px;
  height: 50px;
  position: absolute;
}
.frame16-text02 {
  top: 16px;
  left: 16px;
  color: var(--dl-color-gray-03);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-page-header1 {
  top: 44px;
  left: 324px;
  width: 46px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame16-text04 {
  left: 14px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame16-line101 {
  top: 182.02099609375px;
  left: 17px;
  width: 342px;
  height: 1px;
  position: absolute;
}
.frame16-text05 {
  top: 157px;
  left: 17px;
  color: rgba(75, 147, 96, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text06 {
  color: var(--dl-color-green-secondary);
}
.frame16-text08 {
  top: 157px;
  left: 226px;
  color: rgba(189, 189, 189, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text09 {
  color: var(--dl-color-gray-03);
}
.frame16-image4 {
  top: 205px;
  left: 9px;
  width: 77px;
  height: 70px;
  position: absolute;
}
.frame16-image5 {
  top: 298px;
  left: 9px;
  width: 68px;
  height: 68px;
  position: absolute;
}
.frame16-image6 {
  top: 389px;
  left: 12px;
  width: 62px;
  height: 71px;
  position: absolute;
}
.frame16-image7 {
  top: 483px;
  left: 13px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.frame16-image8 {
  top: 570px;
  left: 9px;
  width: 62px;
  height: 57px;
  position: absolute;
}
.frame16-ima-enhchpmnhnh202305102152542 {
  top: 708px;
  left: 24px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.frame16-ima-enhchpmnhnh202305102155292 {
  top: 712px;
  left: 119px;
  width: 29px;
  height: 31px;
  position: absolute;
}
.frame16-ima-enhchpmnhnh202305102204202 {
  top: 707px;
  left: 202px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.frame16-ima-enhchpmnhnh202305102201002 {
  top: 713px;
  left: 303px;
  width: 34px;
  height: 30px;
  position: absolute;
}
.frame16-text11 {
  top: 755px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text13 {
  top: 755px;
  left: 91px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame16-text15 {
  top: 755px;
  left: 183px;
  color: rgba(93, 176, 87, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text17 {
  top: 752px;
  left: 279px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-content-blocks {
  top: 220px;
  left: 16px;
  width: 343px;
  height: 263.0000305175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame16-content-content-block-small {
  top: 0px;
  left: 0px;
  width: 343px;
  height: 77.0000228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame16-text19 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text21 {
  top: 2px;
  left: 287px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame16-text23 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 269px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-divider-line {
  top: 77.0000228881836px;
  left: 66px;
  width: 277px;
  height: 1px;
  position: absolute;
}
.frame16-content-content-block-small1 {
  top: 93px;
  left: 0px;
  width: 343px;
  height: 77.0000228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame16-text28 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text30 {
  top: 2px;
  left: 287px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame16-text32 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 269px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-divider-line1 {
  top: 77.0000228881836px;
  left: 66px;
  width: 277px;
  height: 1px;
  position: absolute;
}
.frame16-content-content-block-small2 {
  top: 186px;
  left: 0px;
  width: 343px;
  height: 77.0000228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame16-text37 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text39 {
  top: 2px;
  left: 289px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame16-text41 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 269px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-divider-line2 {
  top: 77.0000228881836px;
  left: 66px;
  width: 277px;
  height: 1px;
  position: absolute;
}
.frame16-content-blocks1 {
  top: 483px;
  left: 17px;
  width: 343px;
  height: 170.00003051757812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame16-content-content-block-small3 {
  top: 0px;
  left: 0px;
  width: 343px;
  height: 77.0000228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame16-text46 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text48 {
  top: 2px;
  left: 287px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame16-text50 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 269px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-divider-line3 {
  top: 77.0000228881836px;
  left: 66px;
  width: 277px;
  height: 1px;
  position: absolute;
}
.frame16-content-content-block-small4 {
  top: 93px;
  left: 0px;
  width: 343px;
  height: 77.0000228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame16-text55 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-text57 {
  top: 2px;
  left: 288px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame16-text59 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 269px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame16-divider-line4 {
  top: 77.0000228881836px;
  left: 66px;
  width: 277px;
  height: 1px;
  position: absolute;
}
