.frame28-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame28-frame28 {
  width: 452px;
  height: 780px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame28-text {
  top: 16px;
  left: 39px;
  color: rgba(39, 168, 83, 1);
  width: 302px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame28-ima-enhchpmnhnh202305101626111 {
  top: 67px;
  left: 20px;
  width: 66px;
  height: 52px;
  position: absolute;
}
.frame28-text2 {
  top: 81px;
  left: 110px;
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame28-ima-enhchpmnhnh202305102253541 {
  top: 149px;
  left: 10px;
  width: 356px;
  height: 551px;
  position: absolute;
}
