.frame3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame3-frame3 {
  width: 373px;
  height: 781px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-text {
  top: 28px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame3-text02 {
  top: 393px;
  left: 121px;
  color: rgba(0, 0, 0, 1);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text03 {
  color: rgba(0, 0, 0, 1);
}
.frame3-ima-enhchpmnhnh202305110005121 {
  top: 390px;
  left: 65px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.frame3-i-o-keyboard-light-numeric {
  top: 545px;
  left: 0px;
  width: 375px;
  height: 291px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(204, 206, 211, 1);
}
.frame3-background {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 291px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-background1 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 291px;
  position: absolute;
}
.frame3-home-indicator {
  top: 257px;
  left: 0px;
  width: 375px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-home-indicator1 {
  top: 21px;
  left: 121px;
  width: 134px;
  height: 5px;
  position: absolute;
  border-radius: 100px;
}
.frame3-keys {
  top: 6px;
  left: 6px;
  width: 363px;
  height: 207px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-delete {
  top: 174px;
  left: 295px;
  width: 24px;
  height: 18px;
  position: absolute;
}
.frame3-frame0 {
  top: 161px;
  left: 123px;
  width: 117px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 46px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text05 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame9 {
  top: 107px;
  left: 246px;
  width: 117px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background01 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 47px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text06 {
  top: 29.630434036254883px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text08 {
  top: 1.02173912525177px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame8 {
  top: 107px;
  left: 123px;
  width: 117px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background02 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 47px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text09 {
  top: 29.630434036254883px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text11 {
  top: 1.02173912525177px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame7 {
  top: 107px;
  left: 0px;
  width: 117px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background03 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 47px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text12 {
  top: 29.630434036254883px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text14 {
  top: 1.02173912525177px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame6 {
  top: 53px;
  left: 246px;
  width: 117px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background04 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 47px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text15 {
  top: 29.630434036254883px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text17 {
  top: 1.02173912525177px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame5 {
  top: 53px;
  left: 123px;
  width: 117px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background05 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 47px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text18 {
  top: 29.630434036254883px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text20 {
  top: 1.02173912525177px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame4 {
  top: 53px;
  left: 0px;
  width: 117px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background06 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 47px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text21 {
  top: 29.630434036254883px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text23 {
  top: 1.02173912525177px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame31 {
  top: 0px;
  left: 246px;
  width: 117px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background07 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 46px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text24 {
  top: 29px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text26 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame2 {
  top: 0px;
  left: 123px;
  width: 117px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background08 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 46px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text27 {
  top: 29px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text29 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame1 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-key-background09 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 46px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
}
.frame3-text30 {
  top: 29px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text31 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text32 {
  top: 86px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  width: 316px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text37 {
  top: 232px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text39 {
  top: 285px;
  left: 65px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
