.frame9-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame9-frame9 {
  width: 394px;
  height: 796px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame9-page-header {
  top: 44px;
  left: 16px;
  width: 343px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame9-text {
  left: 112px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame9-page-header1 {
  top: 44px;
  left: 314px;
  width: 46px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame9-text02 {
  left: 14px;
  color: var(--dl-color-green-secondary);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame9-input-search {
  top: 92px;
  left: 17px;
  width: 343px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame9-bg {
  top: 0px;
  left: 0px;
  width: 343px;
  height: 50px;
  position: absolute;
}
.frame9-text03 {
  top: 16px;
  left: 16px;
  color: var(--dl-color-gray-03);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-calendarmonth {
  top: 169px;
  left: 33px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame9-text05 {
  top: 172px;
  left: 64px;
  color: var(--dl-color-green-primary);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame9-line101 {
  top: 206.02099609375px;
  left: 18px;
  width: 342px;
  height: 1px;
  position: absolute;
}
.frame9-text07 {
  top: 220px;
  left: 35px;
  color: rgba(75, 147, 96, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-text08 {
  color: var(--dl-color-green-secondary);
}
.frame9-text10 {
  top: 220px;
  left: 233px;
  color: rgba(189, 189, 189, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-text11 {
  color: var(--dl-color-gray-03);
}
.frame9-ima-enhchpmnhnh202305102152541 {
  top: 708px;
  left: 24px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.frame9-ima-enhchpmnhnh202305102155291 {
  top: 712px;
  left: 119px;
  width: 29px;
  height: 31px;
  position: absolute;
}
.frame9-ima-enhchpmnhnh202305102204201 {
  top: 707px;
  left: 202px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.frame9-ima-enhchpmnhnh202305102201001 {
  top: 713px;
  left: 303px;
  width: 34px;
  height: 30px;
  position: absolute;
}
.frame9-text13 {
  top: 755px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-text15 {
  top: 755px;
  left: 91px;
  color: rgba(93, 176, 87, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.frame9-text17 {
  top: 755px;
  left: 183px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-text19 {
  top: 752px;
  left: 279px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-content-blocks {
  top: 310px;
  left: 0px;
  width: 371px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame9-content-content-block-small {
  top: 0px;
  left: 0px;
  width: 371px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame9-text21 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-text23 {
  top: 2px;
  left: 246px;
  color: var(--dl-color-gray-03);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame9-text30 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 297px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-divider-line {
  top: 61.000022888183594px;
  left: 66px;
  width: 305px;
  height: 1px;
  position: absolute;
}
.frame9-content-blocks1 {
  top: 416px;
  left: 0px;
  width: 371px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame9-content-content-block-small1 {
  top: 0px;
  left: 0px;
  width: 371px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame9-text32 {
  left: 66px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-text34 {
  top: 2px;
  left: 244px;
  color: var(--dl-color-gray-03);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: normal;
}
.frame9-text41 {
  top: 27px;
  left: 66px;
  color: var(--dl-color-default-black);
  width: 297px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.frame9-divider-line1 {
  top: 61.000022888183594px;
  left: 66px;
  width: 305px;
  height: 1px;
  position: absolute;
}
